In [4]:
from sentence_transformers import SentenceTransformer

embedding_model = SentenceTransformer("Snowflake/snowflake-arctic-embed-m")

queries = ['what is penis?', 'where can i get best penis?']
documents = ['penis is big dih', 'you can get penis from the panties pocket']

query_embeddings = embedding_model.encode(queries, prompt_name="query", batch_size=1, show_progress_bar=True)
document_embeddings = embedding_model.encode(documents)

scores = query_embeddings @ document_embeddings.T
for query, query_scores in zip(queries, scores):
    doc_score_pairs = list(zip(documents, query_scores))
    doc_score_pairs = sorted(doc_score_pairs, key=lambda x: x[1], reverse=True)
    
    print(f"Query: {query}")
    for document, score in doc_score_pairs:
        print(score, document)

Batches:   0%|          | 0/2 [00:00<?, ?it/s]

Query: what is penis?
0.40236133 penis is big dih
0.3581186 you can get penis from the panties pocket
Query: where can i get best penis?
0.30272937 you can get penis from the panties pocket
0.29750597 penis is big dih

In [ ]:
query_embed = embedding_model.encode(queries[0], prompt_name="query", precision="float32", normalize_embeddings=True)

(2, 768)

In [2]:
import pandas as pd

df = pd.read_csv("../../data/prep/film_data.csv", usecols=['title', 'title_plot', 'title_meta'])
df["title_plot"].iloc[0]

'Title: 0 & 1 Plot: A girl called Zero stands in a crowded street, her occupation an assassin. As she completes her tasks one after another, Zero has been feeling uneasy lately. As her code name suggests, she has nothing to prove her existence. She overlaps herself with the vanishing landscape and begins to wander in search of the meaning of her own existence. At the same time, a young man named One is also wandering the streets, and like Zero, he is an assassin. Surrounded by a sense of emptiness, he is unable to find the value of his own existence. One day, the two of them meet as if they were led together. They sense each other, and by touching each other, they regain their existence and humanity. However, the organization feels that contact between assassins is dangerous, and decides to dispose of them. They call in a highly skilled assassin. Their battle for their own existence begins now!'

In [ ]:
# df['length_plot'] = df['title_plot'].apply(lambda plot: len(plot))
# df['length_meta'] = df['title_meta'].apply(lambda meta: len(meta))

         length_plot    length_meta
count  773275.000000  773275.000000
mean      315.563265     257.151840
std       206.885012      59.725598
min        38.000000     181.000000
25%       160.000000     209.000000
50%       255.000000     239.000000
75%       421.000000     292.000000
max      1170.000000    1154.000000

In [5]:
print(f"Maximum_seq_length: {embedding_model.get_max_seq_length()}")
print(f"Embedding dims: {embedding_model.get_sentence_embedding_dimension()}")

NameError: name 'embedding_model' is not defined